/bootstrap/compiled.php
/public/phpmyadmin/

/ember/app/bower_components
/ember/node_modules
/ember/temp
/ember/.sass-cache
/ember/.tmp

# assuming the root folder you want to ignore is 'application'
vendor/*
# the subfolder(s) you want to track:
!vendor/way/
# the rest
composer.phar
composer.lock
.DS_Store
Thumbs.db